#map {
  height: 90vh;
  width: 100%;
}

.popup-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 260px;
  height: 100px;
  position: relative;
}

.popup-gallery img {
  width: 80px;
  height: 80px;
  margin: 3px;
  border-radius: 6px;
  object-fit: cover;
  transition: transform 0.3s;
}

.popup-gallery img:hover {
  transform: scale(1.1);
}
